@import "../../../../../theme/styles";


.customer-list-container {

    width: 35rem;
    margin: 0 auto;

    .list-add-controls {

        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .list-content {

        background-color: $light-color;
        border-radius: 5px;

        .thrash-btn {

            color: $text-color;
            padding: 0.25rem;
            margin-left: 0.5rem;

            &:hover {
                color: $danger-color;
            }
        }
    }
}
