<ng-template #noRegistersTpl>
	<tr>
		<td colspan="2" class="text-center">
			Oops! No register was found.
		</td>
	</tr>
</ng-template>

<ng-template #loadingTpl>
	<tr>
		<td colspan="2" class="text-center">
			<i class="fas fa-circle-notch fa-spin"></i> Loading...
		</td>
	</tr>
</ng-template>

<section class="customer-list-container">

	<div>

		<div>
			<h1 class="text-center">Customer Management</h1>
		</div>

		<div class="list-add-controls">
			<customer-save (onSave)="onSave($event)"></customer-save>
		</div>

		<div class="list-content">
			<table class="table">
				<tbody>
					<ng-container *ngIf="!isLoading; else loadingTpl">
						<ng-container *ngIf="customers?.length > 0; else noRegistersTpl">
							<tr *ngFor="let customer of customers">
								<td>{{customer.name}}</td>
								<td style="width: 7rem; padding: 0">
									<div class="d-flex align-items-center">
										<customer-situation style="padding: 0.75rem 0"
										                    [customer]="customer"></customer-situation>
										<button type="button" class="btn btn-link thrash-btn align-self-start"
												(click)="remove(customer)">
											<i class="far fa-trash-alt"></i>
										</button>
									</div>
								</td>
							</tr>
						</ng-container>
					</ng-container>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">
							<div class="list-filters">
								<fieldset [disabled]="isLoading">
									<div class="d-flex">
										<div class="custom-radio">
											<input id="customer-list-filter-all" type="radio"
											       value="ALL"
											       [formControl]="selectedFilter">
											<label for="customer-list-filter-all">ALL</label>
										</div>
										<div class="custom-radio ml-2">
											<input id="customer-list-filter-registered" type="radio"
											       [value]="CustomerSituationEnum.REGISTERED"
											       [formControl]="selectedFilter">
											<label for="customer-list-filter-registered">{{CustomerSituationEnum.REGISTERED}}</label>
										</div>
										<div class="custom-radio ml-2">
											<input id="customer-list-filter-pending" type="radio"
											       [value]="CustomerSituationEnum.PENDING"
											       [formControl]="selectedFilter">
											<label for="customer-list-filter-pending">{{CustomerSituationEnum.PENDING}}</label>
										</div>
										<div class="custom-radio ml-2">
											<input id="customer-list-filter-cancelled" type="radio"
											       [value]="CustomerSituationEnum.CANCELLED"
											       [formControl]="selectedFilter">
											<label for="customer-list-filter-cancelled">{{CustomerSituationEnum.CANCELLED}}</label>
										</div>
									</div>
								</fieldset>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

	</div>

</section>
