<article>

	<div class="d-flex align-items-center">

		<button type="button" class="customer-status-action"
		        [ngClass]="{'selected': customer.situation === CustomerSituationEnum.REGISTERED}"
		        [disabled]="customer.situation === CustomerSituationEnum.REGISTERED"
				(click)="updateSituation(CustomerSituationEnum.REGISTERED)">
				<i class="fas fa-check"></i>
		</button>

		<button type="button" class="customer-status-action"
		        [ngClass]="{'selected': customer.situation === CustomerSituationEnum.PENDING}"
		        [disabled]="customer.situation === CustomerSituationEnum.PENDING"
		        (click)="updateSituation(CustomerSituationEnum.PENDING)">
			<i class="fas fa-question"></i>
		</button>

		<button type="button" class="customer-status-action"
		        [ngClass]="{'selected': customer.situation === CustomerSituationEnum.CANCELLED}"
		        [disabled]="customer.situation === CustomerSituationEnum.CANCELLED"
		        (click)="updateSituation(CustomerSituationEnum.CANCELLED)">
			<i class="fas fa-times"></i>
		</button>
	</div>

</article>
