@import "../../../../../theme/constants";
@import "../../../../../theme/typography";

.customer-status-action {

    color: black;
    border: 2px solid black;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    margin-left: 0.25rem;
    cursor: pointer;
    background-color: $light-color;
    padding: 0;

    &:hover {
        background-color: #ffb400;
    }

    &:focus {
        outline: none;
        box-shadow: $focus-box-shadow;
    }

    &:first-of-type {
        margin-left: 0;
    }

    &.selected {
        background-color: #ffb400;
    }
}
