@import "constants";

.btn {
    border: 1px solid $button-border-color;
    border-radius: 5px;
    background-color: $light-color;
    padding: 0.6rem;
    font-size: 0.9rem;
    cursor: pointer;

    &:focus {
        outline: none;
        border-color: $focus-box-color;
        box-shadow: $focus-box-shadow;
    }
}

.btn-link {

    color: $link-color;
    border: none;
    background-color: transparent;

    &:hover {
        color: lighten($link-color, 15%);
    }
}

.btn-block {
    display: block;
    width: 100%;
}
