$light-color: #ffffff;
$background-color: #e9ebee;
$text-color: #636363;
$link-color: #0078ff;

$table-border-color: darken($light-color, 50%);
$form-border-color: darken($light-color, 25%);
$button-border-color: $form-border-color;
$focus-box-color: #80bdff;;

$focus-box-shadow: 0 0 0 0.2rem rgba($focus-box-color, 0.25);

$font-family: 'Open Sans', sans-serif;

$spacer: 1rem;

