@import "constants";
@import "typography";

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    font-size: 0.75rem;
    font-weight: bold;
}

.form-control {

    height: 2.5rem;
    padding: 0 0.6rem;
    border: 1px solid $form-border-color;
    border-radius: 5px;
    font-size: 0.9rem;
    display: block;
    width: 100%;

    &:focus {
        outline: none;
        border-color: $focus-box-color;
        box-shadow: $focus-box-shadow;
    }
}

input[type=text] {

    height: calc(2.5rem - 2px);

    &.form-control {
        width: calc(100% - (0.6rem * 2) - 2px)
    }
}


select {
    cursor: pointer;
}

.custom-radio {

    display: flex;
    align-items: center;

    label {
        font-weight: normal;
    }
}

.validation-messages {

    color: $danger-color;
    font-size: 0.75rem;
    height: 1rem;
    visibility: hidden;

    &.show {
        visibility: visible;
    }
}
