@import "constants";

//#region Margin Left
.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: $spacer * 0.25;
}

.ml-2 {
    margin-left: $spacer * 0.5;
}

.ml-3 {
    margin-left: $spacer;
}

.ml-4 {
    margin-left: $spacer * 1.5;
}

.ml-5 {
    margin-left: $spacer * 3;
}
//#endregion

//#region Margin Right
.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: $spacer * 0.25;
}

.mr-2 {
    margin-right: $spacer * 0.5;
}

.mr-3 {
    margin-right: $spacer;
}

.ml-4 {
    margin-right: $spacer * 1.5;
}

.mr-5 {
    margin-right: $spacer * 3;
}
//#endregion

.p-1 {
    padding: $spacer * 0.25;
}


