@import "constants";

$danger-color: #ff0000;

html {

    color: $text-color;
    font-family: $font-family;
}

h1 {
    color: $text-color;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.danger-color {
    color: $danger-color;
}
