@import "buttons";
@import "constants";
@import "forms";
@import "flex";
@import "spacing";
@import "typography";

html {
    background-color: $background-color;
}

.table {

    border-spacing: 0;
    width: 100%;

    tbody {
        tr {
            td {
                border-bottom: 2px solid $table-border-color;
                padding: 0.5rem;
            }
        }
    }
}
