<article>

	<form class="d-flex align-items-center justify-content-between"
	      [ngClass]="{'ng-submitted': ngForm.submitted}"
		  [formGroup]="formGroup"
		  (ngSubmit)="ngForm.valid ? save() : null"
		  #ngForm="ngForm">

		<div style="width: 14rem;">
			<input type="text" class="form-control"
				   placeholder="Who you want to register?"
				   formControlName="name"
				   required
				   maxlength="500">
			<div class="validation-messages"
			     [ngClass]="{'show': (ngForm.submitted || formGroup.get('name').touched) && formGroup.get('name').invalid}">
				<ng-container *ngIf="(ngForm.submitted ||formGroup.get('name').touched) && formGroup.get('name').invalid">
					<span *ngIf="formGroup.get('name').errors.required">Name is required</span>
					<span *ngIf="formGroup.get('name').errors.maxLength">Name must have at most 500 characters</span>
				</ng-container>
			</div>
		</div>

		<div style="width: 14rem">
			<select class="form-control"
					formControlName="situation"
				    required>
				<option [value]="null">What's its situation?</option>
				<option [value]="CustomerSituationEnum.REGISTERED">{{CustomerSituationEnum.REGISTERED}}</option>
				<option [value]="CustomerSituationEnum.PENDING">{{CustomerSituationEnum.PENDING}}</option>
				<option [value]="CustomerSituationEnum.CANCELLED">{{CustomerSituationEnum.CANCELLED}}</option>
			</select>
			<div class="validation-messages"
			     [ngClass]="{'show': (ngForm.submitted ||formGroup.get('situation').touched) && formGroup.get('situation').invalid}">
				<ng-container *ngIf="(ngForm.submitted ||formGroup.get('situation').touched) && formGroup.get('situation').invalid">
					<span *ngIf="formGroup.get('situation').errors.required">Situation is required</span>
				</ng-container>
			</div>
		</div>

		<div style="width: 5rem; margin-bottom: 1rem">
			<button type="submit" class="btn btn-block"
				    [disabled]="isSaving">{{isSaving ? "Saving..." : "Save"}}</button>
		</div>

	</form>

</article>
